html {
    scroll-behavior: smooth; /*this ensures a smooth scrolling page when the buttons on the navbar are clicked*/
}

body {
    margin: 0%; /* This ensures the site displays all the way to the edge of the screen.*/
    opacity: 1; /* This and the transition affect the page loading fade in effect*/
    transition:  3s opacitiy; /*this causes a 3 second fade in*/
    letter-spacing: .2vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    overflow-x: hidden; /* This prevents the horizontal scroll bar from appearing when the quote is hovered over*/
    user-select: none; /* This prevents the text on the webpage from being highlighted by the user*/
}

/* This section contributes to the fade effect for the page that occurs when the page is loaded*/
body.fade-out {
    opacity: .1; /*This sets the level of opacity at the start of page load*/
}

h1 {
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 2%;
    color: #1a1a1a;
}

h2 {
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: .5%;
    color:black
}

h1:hover {
    filter: grayscale(5%); /* Adds a slightly gray filter to the h1 headings when hovered over*/
    transform: scale(1.1); /*When the h1 elements are hovered over they slightly increase in size*/
    transform: transform 1s; /* This causes the transformation to last 1 second*/
}
/* Styling for the Portfolio Title Text*/
.white-text {
    color: #fff;
    padding-top: 10vh;
}

/*Paragraph Elements*/
p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify; /*Justifies the text within paragraph elements*/
    letter-spacing: .25vw; /*Expands the text slightly*/
    font-size: .3vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

/*Paragraph element hover effect*/
p:hover {
    transition: transform 1s;
    transform: scale(1.01);
}

/*Center class - applies to all centered text*/
.center {
    text-align: center; /* This center aligns the text*/
}

/* Center align elements hover effect - This only affects the quote, github link, and footer*/ 
.center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/* Anchor elements*/
a {
    color: blue; /* Ensures all links are blue*/
    cursor: pointer;
    text-decoration: underline; /* This ensures all links are underlined*/
}

/* Quotation elements*/
q {
    font-style: italic; /*Italicizes the quote*/
}

/* Image elements*/
img {
    filter: grayscale(75%); /* Makes pictures lose 75% of their color*/
    border-radius: 8px; /* Gives images slightly rounded corners*/
    max-width: 100%; /* Ensures all images stay within the width of their container*/
    max-height: 100%; /* Ensure all images stay within the height of their container*/
    display: block;
    margin: auto auto auto auto; /* Centers all images*/
}

img:hover {
    filter: grayscale(5%);
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* Styling for footer element*/
footer {
    padding: 2%;
    background-color: white;
}
/*End of general styling*/

/*Navbar styling*/
.Navbar {
    overflow: hidden; /* Ensures any content that overflows beyond the navbar stays hidden*/
    background-color: black;
    position: fixed; /* Keeps the navbar at the top of the screen*/
    top: 0; /* Ensures no space above the navbar*/
    width: 100%; /* Makes navbar span the entire width of the page*/
    z-index: 1; /* Ensures the navbar is always displayed on top*/
    -webkit-animation: moveNav 5s; /* Safari 4.0 - 8.0 */
    animation: moveNav 5s; /* Makes the moveNav animation last 5 seconds*/
}

/*moveNav animation effect for moving the navbar in from the left*/
@keyframes moveNav {
    from {left: -100vw;} /* The navbar is starting off screen to the left*/
    to {left: 0vw;} /*Moves the navbar into plact on the screen*/
}

/*Navbar links*/
.Navbar a {
    float: left;
    display: block;
    color: white;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vw;
    text-align: center;
    position: relative; /* Sets the text relative to its normal positioning, allowing for the animation below*/
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}

/* The animation effect for moving the navbar links in from above the top of the screen on page load*/
@keyframes moveNavText {
    from {top: -100vw;} /* This sets the navbar text 100% above the viewport*/
    to {top: 0vw;} /*This lowers the navbar text onto the navbar*/
}

/* Screens that are 576px and smaller will not display the background video*/
@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%;
        font-size: 12px;
    }
}

/* Navbar hover effects*/
.Navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in;
}

/* Navbar home button*/
.Navbar a.active { /* This targets the a element on the navbar with the "active" class */
    background-color: darkgray;
}
/*End of Navbar styling*/

/*Video Styling*/
/*Formatting for background video*/
#Road_Video {
    position: fixed; /* Keeps the video at the top of the page*/
    right: 0; /* Ensures there is no space between the edge of the video and the edge of the page*/
    bottom: 0; /* Ensure there is no edge at the bottom of the video and the page*/
    min-width: 100%;
    z-index: -1; /* Places the video behind the other elements of the page*/
}

/*Screens that are 576px and smaller will not display the background video*/
@media screen and (max-width: 576px) {
    #Road_Video {
        display: none;
    }
}

/*Texts over the video*/
.Video_Text {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 20px;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

/*This animation effect causes the overlay video text to move up from the bottom of the page upon page load*/
@keyframes moveVideoText {
    from {top: -100vw;} /* This sets the position of the video text to above the viewport */
    to {top: 0vw;} /* This moves the video text to the normal positioning on the viewport */
}
/*End of video styling*/

/*Slideshow Styling*/
#Slideshow_Background {
    background: rgba(255, 255, 255, 0.35); /*Creates a slighlty transparent white background that's placed over the video in the background*/
}

.mySlides {
    display: none; /* Prevents images from being displayed, JS will do this*/
}

/* Slideshow section / container */
#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

/* Removes the underline from the previous and next buttons on the slideshow*/
#Slideshow_Container a {
    text-decoration: none;
}

/* Images contained within the slideshow*/
.Slideshow_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: 100%;
}

/* Next and previous buttons*/
.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color:sienna;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

/* Positioning the Next button on the right hand side*/
.Next {
    right: 0;
    border-radius: 3px 0 0 3px; 
}

/* Hover effect on slideshow buttons*/
.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/*Slideshow text*/
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, .75);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
}

/* Styling of the dots under the slideshow*/
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

/* Hover effect for slideshow dots*/
.active, .dot:hover {
    background-color: black;
}

/* Fading animation for slideshow*/
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;} /* Image starts transparent*/
    to {opacity: 1;} /* Image ends opaque*/
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

/*Table styling*/
* { /* The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
} 

.Column_1 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: #f2f2f2;
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: darkslateblue;
}

/* This inserts something after the content of selected elements (in this case the elements with class "Row") */
.Row:after {
    content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
    display: table;
    clear: both;
}
/*End of table styling*/

/*Contact Form Styling*/
/* Button used to open the contact form - fixed at the bottom of the page*/
.Pop_Up_Button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid black;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

/* movePopup animation moves the button from off the right side of the screen to its fixed position*/
@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

/* Styling for the contact form*/
.form-popup {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

/* Form styling*/
.form-container {
    max-width: 49vw;
    padding: 1vw;
    background-color: white;
}

/* Input fields*/
.form-container input[type=text] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: Gothic;
    font-size: 1vw;
}

/* General styling for all buttons*/
button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

/* Hover effect for contact and submit buttons*/
button:hover, .form-container .btn:hover {
    color: white;
    background-color: black;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: silver;
}

/* Submit button*/
.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

/* Close button*/
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

/* Styling for close button on hover*/
.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}

/* Media Query Section*/
@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }
    
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    } 
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}

/* Media rule for navbar links for different screen sizes*/
/* Screens 1080px and smaller will display navbar links equally distributed*/
@media screen and (max-width: 1080px) {
    .Navbar a{
        width: 20%;
        font-size: 2.5vw;
    }
}

/* Media rules to enlarge the font of the white text for smaller screens*/
@media screen and (max-width: 1080px) {
    .quote{
        font-size: 3.5vw;
    }

    .white-text {
        font-size: 4.5vw;
    }
}

/* Media rules to increase the size of the columns for larger screens*/
@media screen and (min-width: 1725px) {
    .Column_1 {
        height: 550px;
    }
    .Column_2 {
        height: 550px;
    }
}

/* Media rule to remove margin-top from h1 elements for extra large screens (so the paragraph text fits in the column*/
@media screen and (min-width: 2000px) {
    h1{
        margin-top: 0;
    }
}